h1 {
    color:red; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
h2 {
    color:rgb(73, 4, 4); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;

}
.contenedorCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    color: aliceblue;
    text-align: center;
    border: 3px solid #076fba;
    background-color: #022035;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    min-width: 200px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}
.boton {
    color: white; 
    background-color: rgb(253, 0, 0); 
    font-weight:bold ;
    transition:  0.6s; 
    padding: 10px 20px; 
    border-radius: 20px;
}

.boton:hover {
    background-color: rgb(71, 1, 1); 
    box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.5);;
}